@page "/countries"

<h3>Paises</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar país..." @bind-value="Filter" />
    <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
</div>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />

<GenericList MyList="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th style="width:210px">Departamentos / Estados</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/countries/edit/@country.Id">Editar</a>
                            <a class="btn btn-info btn-sm" href="/countries/details/@country.Id">Detalles</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(country))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>